.font-inter {
  font-family: "Inter", sans-serif;
}
.font-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--bg-primary);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 20px;
  border: 2px solid var(--bg-primary);
}
